@import '/src/app/app.component.scss';

.container {
    margin-top: 50px;
}
.box {
    border: 1px solid rgb(185, 185, 185);

}
.dropdown-fixture {
    margin-top: 20px;
}

.text-area-fixture {
    height: 178px;
    background-color: #f7f7f7;
}

.column-fixture {
    margin-top: 16px;
}

.button-fixture {
    width: 50%;

}

.btn {
    width: 200px;
    background-color: rgb(255, 174, 0);
    
}

.btn:hover{
    color: rgb(255, 255, 255) !important;
}