<form class="container">
    <div class="form-group">
        <label for="exampleFormControlInput1">Seu Email: </label>
        <input type="email" class="form-control mb-3" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Qual área deseja Falar?</label>
        <select class="form-control mb-3" id="exampleFormControlSelect1">
            <option>Administrativo</option>
            <option>Recursos Humanos</option>
            <option>Suporte</option>
            <option>Desenvolvimento de Softwares</option>
            <option>Marketing</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Qual assunto? </label>
        <input type="email" class="form-control mb-3" id="exampleFormControlInput1"
            placeholder="">
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Qual sua mensagem? </label>
        <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="3"
        placeholder=""></textarea>
    </div>

    <div class="row justify-content-md-center">
        <a class="btn btn-primary btn-lg large-button mt-3">Enviar</a>
    </div>
</form>