@import '/src/app/app.component.scss';

.container {
    margin-top: 50px;

}

.dropdown-fixture {
    margin-top: 20px;
}

.text-area-fixture {
    height: 178px;
    background-color: #f7f7f7;
}

.column-fixture {
    margin-top: 16px;
}

.button-fixture {
    width: 30%;
}