<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-light customized-footer">
    <div class=" text-center" *ngIf="isRedirectToPaymentAvaliable == true; else paymentVisible">
        <small>Big Hiccups &copy; Soluções</small>
    </div>
    <ng-template #paymentVisible>
        <div class="text-center mb-3">
            <div class="row">
                <small>Ainda não é nosso Cliente?</small>
            </div>

            <div class="row justify-content-md-center">
                <a class="btn btn-primary btn-lg large-button mt-3" [routerLink]="'./about'"
                routerLinkActive="activebutton" (click)="navigateTo()">Ver Planos</a>
            </div> 
        </div>

    </ng-template>

</footer>