<div class="container">
    <div class="jumbotron">
        <h1 class="display-4 mb-5 ">{{ ADMIN_PAGE_SENTENCES[0].SUB_TITLE }}</h1>
        <p class="lead">{{ ADMIN_PAGE_SENTENCES[0].DESCRIPTION }}</p>
    </div>
    <div *ngFor="let ITEM of ADMIN_PAGE_SENTENCES; index as i">
        <div class="jumbotron" *ngIf="i > 0">

            <div class="row">
                <div class="col-sm-8">
                    <h1 class="display-4 mb-5 ">{{ ITEM.SUB_TITLE }}</h1>
                    <p class="lead">{{ ITEM.DESCRIPTION }}</p>
                </div>
                <div class="col-sm-4">

                    <img src="{{ ITEM.IMAGE }}" class="img-fluid" alt="Responsive image">
                </div>
            </div>

        </div>
        <hr class="my" *ngIf="i != size - 1">
    </div>
</div>

