@import '/src/app/app.component.scss';

html,
body {
    height: 100%;
}

.container {
    margin-top: 200px !important;
    height: 100% !important;
    overflow: hidden;
    margin-bottom: 20vh;

    .lead {
        line-height: 4vh;
    }

    .my {
        margin-top: 10vh;
        margin-bottom: 10vh;

    }

    h1 {
        font-family: "Fredoka One", cursive !important;
        font-size: 40px !important;
    }

    img {
        max-height: 80%;
        width: auto;
    }
}

.mat-tab-body-content {
    overflow: hidden !important;
}

@media (max-width: 480px) {
    
    .container {

        margin-top: 91px !important;
    }
    .container .jumbotron {
        padding: 10px !important;
    }

    .container img {
        max-height: 100%;
    }

    .my-4 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
}