@import '/src/app/app.component.scss';

html, body {
    height: 100%;
}

.container {
    margin-top: 100px;
    height: 100% !important;
    overflow: hidden;
}


.mat-tab-body-content {
    overflow: hidden;
}