@import '/src/app/app.component.scss';

.row {
    height: 100%;
}


.btn:hover {
    background-color: rgb(255, 174, 0);
    color: rgb(255, 255, 255) !important;

}

.bottom-button {
    width: 180px;
}

.card-ajustment {
    height: 25vh !important;
}
