@import '/src/app/app.component.scss';

.container {


    .text-ajustment {
        font-size: 14px;
        white-space: pre;
    }


    .icon {
        max-height: 52px;
        width: auto;
        margin: 0 50px 0 50px;
    }

    .border {
        padding-left: 10px;
        background-color: #bdbdbd8f;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%)
    }

    button {
        height: 52px;
        width: 104px;
        margin: 0;
        padding: 0;
        border-radius: 0px !important;
        border-left: 1px solid white !important;
        border-right: 1px solid white !important;
    }

    .row>* {
        margin: 0;
        padding: 0;
    }

    .size-fixture {
        width: 100%;
    }

    .btn {
        border-radius: none !important;
    }

    .btn-toolbar {
        padding-left: 0 !important;
    }

    .mat-input-element {
        width: 80% !important;
    }

    .form-element {
        transform: translateX(22px);
        margin-top: 10px;
    }

    .ajustment {
        margin-left: 12px;
    }

    .position {
        position: relative;
    }

    .top {
        position: relative;
        transform: translateY(-100px);
    }

    .fixed-size {
        width: 80% !important;
        max-height: 700px !important;

    }

}

.mobile-items>* {
    justify-content: center;

    img {
        position: static;
        transform: translateY(-578px) !important;
        width: 70% !important;
    }

    h1 {
        overflow-wrap: break-word !important;
        transform: translateY(-558px);
        display: block;
        width: 70%;
    }

    p {
        overflow-wrap: break-word;
        justify-content: flex-start;
        transform: translateY(-528px);
        display: block;
        width: 70%;
    }

}

.mat-form-field-underline {
    width: 0 !important;
}

.mat-form-field-wrapper {
    padding: 0 !important;
}

.mat-icon {
    transform: translateX(-40px);
}

.mat-card {
    padding: 0 !important;
    background-image: linear-gradient(to left, #f4f4f4, #ededed, #e7e7e7, #e0e0e0, #dadada, #dadada, #dadada, #dadada, #e0e0e0, #e7e7e7, #ededed, #f4f4f4);    .mobile {
        height: 200px !important;
    }
}

.card-color {
    background-color: white;
}

@media(max-width: 768px) {
    .btn-group {
        margin-top: 10px !important;
    }

    .btn-toolbar {
        justify-content: center !important;
    }

    .mat-select {
        width: 100% !important;
    }
}

// new 
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}

// body {
//     color: #fff;
//     font-family: "Roboto", arial, sans-serif;
//     font-size: 16px;
// }

.qr-container {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    align-items: stretch;
    background-image: linear-gradient(to left, #c9c9c9, #cfcfcf, #d6d6d6, #dcdcdc, #e3e3e3, #e2e2e2, #e1e1e1, #e0e0e0, #d7d7d7, #cdcdcd, #c4c4c4, #bbbbbb);    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    padding: 40px;

    .mat-form-field {
        display: block;
    }
}

.container .heading h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.container .heading p {
    line-height: 1.3em;
    margin-bottom: 20px;
}

.container .grid {
    align-items: stretch;
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .grid .row {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
}

.container .grid .row .item {
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    // display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.container .grid .row .item:hover {
    background: rgba(255, 255, 255, 0.35);
    transition: background 0.3s ease;
}

.container .grid .row .item .fa {
    font-size: 200px;
}

.container .grid .row .nested .item {
    align-items: center;
}

.container .grid .row .nested .item .fa {
    font-size: 80px;
}