<div class="image-item-ajustment text-start" [style.background-image]="'url(./../../../../assets/images/mobile.png)'"
    [style.width.px]="320" [style.height.px]="669">

    <div class="mobile-container">
        <div class="grid">
            <mat-card class="glass size-fixture">
                <mat-card-title>
                    <h1>{{formData[0].product}}</h1>
                </mat-card-title>
                <mat-card-title>
                    <p>{{formData[0].announce}}</p>
                </mat-card-title>
            </mat-card>


            <mat-card class="glass ">
                <form [formGroup]="formGroup" class="form mt-2 p-2">
                    <mat-form-field class="border">
                        <input matInput placeholder="Digite seu nome" formControlName="product">
                    </mat-form-field>

                    <mat-form-field class="border">
                        <input matInput placeholder="Digite seu Email" formControlName="email">
                    </mat-form-field>

                    <mat-radio-button [checked]="checked" (click)="onRadioClick()">Li e concordo com os <br> termos
                        descritos
                        <span>aqui</span>
                    </mat-radio-button>

                    <div class="text-center">
                        <button mat-button mat-raised-button color="primary" type="submit"
                            class="btn button confirm-button"
                            [disabled]="!formGroup.valid  && !checked">Confirmar</button>
                    </div>

                </form>
            </mat-card>

            <mat-card class="glass icon-group">
                <footer class="footer flex-shrink-0 py-1 bg-light customized-footer">
                    <mat-label>
                        <p>Acesse nossas redes sociais </p>
                    </mat-label>


                    <div class="d-flex flex-row justify-content-between align-self-center mt-1"
                        *ngFor="let data of formData; index as i">

                        <div class="col" *ngIf="data.facebook !== ''"><img src="{{SOCIAL_ICONS[0].IMAGE}}"></div>
                        <div class="col" *ngIf="data.instagram !== ''"><img src="{{SOCIAL_ICONS[1].IMAGE}}"></div>
                        <div class="col" *ngIf="data.whatsapp !== ''"><img src="{{SOCIAL_ICONS[2].IMAGE}}"></div>
                        <div class="col" *ngIf="data.telegram !== ''"><img src="{{SOCIAL_ICONS[3].IMAGE}}"></div>
                        <div class="col" *ngIf="data.officialpage !== ''"><img src="{{SOCIAL_ICONS[4].IMAGE}}"></div>
                        <div class="col" *ngIf="data.youtube !== ''"><img src="{{SOCIAL_ICONS[5].IMAGE}}"></div>
                        <div class="col" *ngIf="data.voucher_url !== ''"><img src="{{SOCIAL_ICONS[6].IMAGE}}"></div>
                    </div>


                </footer>
            </mat-card>
        </div>


    </div>


</div>