<div class="container">
    <p class="text-center display-4 mb-5">Plano {{planTitle}}

    <h2 class="text-center mt-5 mb-5">Dados de Acesso </h2>

    <div class="form-layout" novalidate>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
            <div class="row">
                <div class="col">

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                            {{ getErrorEmail() }}
                        </mat-error>
                    </mat-form-field>

                    <div class="row">
                        <div class="col">
                            <mat-form-field class="form-element">
                                <input matInput placeholder="Nome" formControlName="name">
                                <mat-error
                                    *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                                    {{ getErrorName() }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field class="form-element">
                                <textarea matInput placeholder="Sobrenome" matTextareaAutosize matAutosizeMinRows="1"
                                    matAutosizeMaxRows="5" formControlName="surname"></textarea>
                                <mat-error *ngIf="!name.valid && name.touched">
                                    {{ titleAlert }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field appearance="fill" class="form dropdown-fixture mb-2">
                        <mat-label>Estado</mat-label>
                        <mat-select>
                            <mat-option value="option">Goiás</mat-option>
                            <!-- *ngIf de array do estado -->
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'"
                            formControlName="password" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-hint *ngIf="!passwordInput.value">Senha precisa ter no mínimo 8 digitos, pelo menos uma
                            letra maiúscula e um número</mat-hint>

                        <mat-error
                            *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                            {{ getErrorPassword() }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col">
                    <div class="col">
                        <mat-form-field class="form-element">
                            <input matInput placeholder="Telefone" formControlName="phone">
                            <mat-error
                                *ngIf="!formGroup.controls['phone'].valid && formGroup.controls['phone'].touched">
                                {{ getErrorPhoneNumber() }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field class="form-element">
                        <textarea matInput placeholder="Endereço" matTextareaAutosize matAutosizeMinRows="1"
                            matAutosizeMaxRows="5" formControlName="address"></textarea>
                        <mat-error
                            *ngIf="!formGroup.controls['surname'].valid && formGroup.controls['surname'].touched">
                            Campo precisa de preenchimendo no mínimo 5 caracteres
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="form dropdown-fixture">
                        <mat-label>Cidade</mat-label>
                        <mat-select>
                            <mat-option value="option">Goiânia</mat-option>
                            <!-- *ngIf de array de cidades do estado escolhido -->
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="form-element mt-2">
                        <input matInput placeholder="Senha" [type]="hide2 ? 'passwordConfirmation' : 'text'"
                            formControlName="passwordConfirmation" required>
                        <mat-icon matSuffix (click)="hide2 = !hide2">{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon>
                        <mat-hint *ngIf="!passwordConfirmationInput.value">Senha precisa ser igual a anterior</mat-hint>

                        <mat-error
                            *ngIf="!formGroup.controls['passwordConfirmation'].valid && formGroup.controls['passwordConfirmation'].touched">
                            {{ getErrorSamePassword() }}
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>
            <hr class="my-4">
            <h2 class="text-center mt-5 mb-5">Dados do cartão </h2>

            <div class="row">
                <div class="col">

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Nome" formControlName="cardname">
                        <mat-error
                            *ngIf="!formGroup.controls['cardname'].valid && formGroup.controls['cardname'].touched">
                            {{ getErrorCardName() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="form dropdown-fixture">
                        <mat-label>Tarja do Cartão</mat-label>
                        <mat-select>
                            <mat-option value="option">Visa</mat-option>
                            <mat-option value="option">MasterCard</mat-option>
                            <mat-option value="option">Elo</mat-option>
                            <mat-option value="option">American Express</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Código de Segurança" formControlName="securitycode">
                        <mat-error
                            *ngIf="!formGroup.controls['securitycode'].valid && formGroup.controls['securitycode'].touched">
                            {{ getErrorSecurityCode() }}
                        </mat-error>
                    </mat-form-field>


                </div>
                <div class="col">

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Número do Cartão" formControlName="cardNumber">
                        <mat-error
                            *ngIf="!formGroup.controls['cardNumber'].valid && formGroup.controls['cardNumber'].touched">
                            {{ getErrorCardNumber() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="Expira em" formControlName="expirationdate">
                        <mat-error
                            *ngIf="!formGroup.controls['expirationdate'].valid && formGroup.controls['expirationdate'].touched">
                            {{ getErrorExpirationDate() }}
                        </mat-error>
                    </mat-form-field>

                    <div class="text-center mt-5 ">
                        <mat-label class=" text-center btn btn-success">Valor a Pagar:  R${{price}},00</mat-label>
                    </div>
                    
                </div>
            </div>
            <hr class="my-4">
            <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button"
                    [disabled]="!formGroup.valid">Confirmar</button>
            </div>
        </form>
    </div>
</div>