<div class="container" >
    <p class="text-center display-4 title-fixture">Plano {{planTitle}}

    <p class="text-center mt-5 mb-5 text-fixture ">Dados de Acesso </p>
    <!-- remove novalidate after tests -->
    <div class="form-layout" novalidate>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
            <div class="row" *ngFor="let REGISTER of REGISTER_TEXT;">
                <div class="col">
                    <mat-form-field class="form-element input-size-fixture">
                        <input matInput placeholder="{{REGISTER.USERNAME}}" formControlName="username">
                        <mat-error
                            *ngIf="!formGroup.controls['username'].valid && formGroup.controls['username'].touched">
                            {{ getErrorUsername() }}
                        </mat-error>

                    </mat-form-field>


                    <mat-form-field class="form-element">
                        <input matInput placeholder="{{REGISTER.EMAIL}}" formControlName="email">
                        <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                            {{ getErrorEmail() }}
                        </mat-error>
                    </mat-form-field>

                    <div class="row">
                        <div class="col">
                            <mat-form-field class="form-element">
                                <input matInput placeholder="{{REGISTER.NAME}}" formControlName="name">
                                <mat-error
                                    *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                                    {{ getErrorName() }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field class="form-element">
                                <textarea matInput placeholder="{{REGISTER.SURNAME}}" matTextareaAutosize matAutosizeMinRows="1"
                                    matAutosizeMaxRows="5" formControlName="surname"></textarea>
                                <mat-error
                                    *ngIf="!formGroup.controls['surname'].valid && formGroup.controls['surname'].touched">
                                    {{ getErrorName() }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-form-field appearance="fill" class="form dropdown-fixture mb-2">
                        <mat-label>{{REGISTER.STATE}}</mat-label>
                        <mat-select (selectionChange)="onStateOptionChange($event)" formControlName="state">
                            <mat-option *ngFor="let state of states" [value]="state.name">
                                {{ state.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="!formGroup.controls['state'].valid && formGroup.controls['state'].touched">
                            {{ getErrorState() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="{{REGISTER.PASSWORD}}" [type]="hide ? 'password' : 'text'"
                            formControlName="password" required>

                        <mat-error
                            *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                            {{ getErrorPassword() }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col col-ajustment">
                    <div class="col">
                        <mat-form-field class="form-element">
                            <input matInput placeholder="{{REGISTER.PHONE}}" formControlName="phone">
                            <mat-error
                                *ngIf="!formGroup.controls['phone'].valid && formGroup.controls['phone'].touched">
                                {{ getErrorPhoneNumber() }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field class="form-element">
                        <textarea matInput placeholder="{{REGISTER.ADDRESS}}" matTextareaAutosize matAutosizeMinRows="1"
                            matAutosizeMaxRows="5" formControlName="address"></textarea>
                        <mat-error
                            *ngIf="!formGroup.controls['address'].valid && formGroup.controls['address'].touched">
                            {{ getErrorName() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="form dropdown-fixture">
                        <mat-label>{{REGISTER.CITY}}</mat-label>
                        <mat-select (selectionChange)="onCityOptionChange($event)" formControlName="city">
                            <mat-option *ngFor="let city of cities" [value]="city">{{city}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="!formGroup.controls['city'].valid && formGroup.controls['city'].touched">
                            {{ getErrorCity() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element margin-fixture">
                        <input matInput placeholder="{{REGISTER.CONFIRMATION}}" [type]="hide ? 'passwordconfirmation' : 'text'"
                            formControlName="passwordconfirmation" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="!formGroup.controls['passwordconfirmation'].valid 
                            && formGroup.controls['passwordconfirmation'].touched">
                            {{ getErrorPasswordMissmatch() }}
                        </mat-error>
                    </mat-form-field>

                </div>
            </div>
            <hr class="my-4">
            <p class="text-center mt-5 mb-5 text-fixture ">{{CREDIT_CARD_TEXT[0].TITLE }}</p>

            <div class="row" *ngFor="let CARD of CREDIT_CARD_TEXT">
                <div class="col" >

                    <mat-form-field class="form-element">
                        <input matInput placeholder="{{CARD.NAME}}" formControlName="ownername">
                        <mat-error
                            *ngIf="!formGroup.controls['ownername'].valid && formGroup.controls['ownername'].touched">
                            {{ getErrorOwnerName() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="form dropdown-fixture">
                        <mat-label>{{CARD.TAG}}</mat-label>
                        <mat-select (selectionChange)="onCardFlagChange($event)" formControlName="cardflag">
                            <mat-option value="visa">{{CARD.TAG1}}</mat-option>
                            <mat-option value="master">{{CARD.TAG2}}</mat-option>
                            <mat-option value="elo">{{CARD.TAG3}}</mat-option>
                            <mat-option value="amex">{{CARD.TAG4}} Express</mat-option>
                            <mat-option value="amex">{{CARD.TAG5}} Express</mat-option>
                        </mat-select>
                        <mat-error
                            *ngIf="!formGroup.controls['cardflag'].valid && formGroup.controls['cardflag'].touched">
                            {{ getErrorCity() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="{{CARD.CVC}}" formControlName="securitycode">
                        <mat-error
                            *ngIf="!formGroup.controls['securitycode'].valid && formGroup.controls['securitycode'].touched">
                            {{ getErrorSecurityCode() }}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col">

                    <mat-form-field class="form-element">
                        <input matInput placeholder="{{CARD.NUMBER}}" formControlName="cardnumber">
                        <mat-error
                            *ngIf="!formGroup.controls['cardnumber'].valid && formGroup.controls['cardnumber'].touched">
                            {{ getErrorCardNumber() }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-element">
                        <input matInput placeholder="{{CARD.EXPIRATION}}" formControlName="expirationdate">
                        <mat-error
                            *ngIf="!formGroup.controls['expirationdate'].valid && formGroup.controls['expirationdate'].touched">
                            {{ getErrorExpirationDate() }}
                        </mat-error>
                    </mat-form-field>

                    <div class="text-center mt-5 ">
                        <mat-card> <span>{{CARD.VALUE}}{{price}},00</span> </mat-card>
                    </div>


                </div>
            </div>
            <div class="form-element text-center mt-5">
                <button mat-raised-button color="default" type="submit" class="button btn"
                    [disabled]="!formGroup.valid">{{CREDIT_CARD_TEXT[0].BUTTON_TEXT}}</button>
            </div>
            <div class="progress-group-border mt-5 mb-2">
                <div class="text-center mt-5" *ngIf="isProgressBarActivated === true">
                    <mat-progress-bar mode="indeterminate" class="mb-2"></mat-progress-bar>
                    <span id="element" class="elementToFadeInAndOut">{{processingMessage}}</span>

                </div>

            </div>
        </form>
    </div>
</div>