@import "/src/app/app.component.scss";

.form-control {
  width: 50%;
}

.large-input {
  width: 350px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.container {
  margin-bottom: 200px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-size-fixture {
  width: 48% !important;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}
mat-card {
  margin-bottom: 10px;
  background-color: #3f3f3f;
  color: whitesmoke;
  font-family: "Spartan", sans-serif;
  font-weight: 600;
}

.form {
  min-width: none !important;
  max-width: none !important;
}

.text-fixture {
  margin-top: 100px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(99, 99, 99);
  cursor: default;
}
.title-fixture {
  color: rgb(99, 99, 99);
  font-size: 50px;
  margin-top: 150px;
  font-weight: bold;
}
mat-card {
  height: 36px;
  padding: 10px 0 0 0 ;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color:  rgb(255, 174, 0);
}

::ng-deep .mat-progress-bar-buffer {
  background:  rgb(255, 233, 187);
}

::ng-deep .mat-progress-bar {
  border-radius: 5px;
}
textarea {
  height: 10px;
}

.dropdown-fixture {
  transform: translateY(-7px);
}

h2 {
  color:  rgb(99, 99, 99);
}

.margin-fixture {
  margin-top: 9px;
}

.btn-success {
  cursor: default;
}

.progress-group-border {
  padding: 10px 0 10px 0;
  margin-bottom: 10px;;
}

.col-ajustment {
  margin-top: 87px;
}

.elementToFadeInAndOut {
  -webkit-animation: fadeinout 4s linear infinite;
  animation: fadeinout 4s linear infinite;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.btn:hover {
  background-color: rgb(255, 174, 0);
  color: rgb(255, 255, 255) !important;
}

.btn {

  width: 180px;
}
