@import "/src/app/app.component.scss";

.form-control {
  width: 50%;
}

.large-input {
  width: 350px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.button {
  width: 300px;

}

.form {
  min-width: none !important;
  max-width: none !important;
}

textarea {
  height: 10px;
}

.dropdown-fixture {
  transform: translateY(-7px);

}

h2 {
  color: rgb(109, 109, 109);  
}

.margin-fixture {
  margin-top: 6px;
}

.btn-success {
  cursor: default;
}

.progress-group-border {
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 0px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}