@import "/src/app/app.component.scss";

.form-control {
  width: 50%;
}

.large-input {
  width: 350px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-size-fixture {
  width: 48% !important;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.label {
  font-size: 18px;
  -webkit-text-stroke: 1px rgb(41, 41, 41);
  -webkit-text-fill-color: white;
  height:36px !important;
  width: 250px !important;
  font-weight: bold;
  border: solid 1px rgb(41, 41, 41);
  border-radius: 4px;
  padding: 6px 40px 6px 40px;
  background-color: rgb(80, 80, 80);
  color: whitesmoke; 
  cursor: default;
}


.span {
  padding-left: 300px;
  padding-right: 300px;
}



.form {
  min-width: none !important;
  max-width: none !important;
}

textarea {
  height: 10px;
}

.dropdown-fixture {
  transform: translateY(-7px);
}

h2 {
  color: rgb(109, 109, 109);
}

.margin-fixture {
  margin-top: 9px;
}

.btn-success {
  cursor: default;
}

.progress-group-border {
  padding: 10px 0px;
}

.col-ajustment {
  margin-top: 87px;
}

.elementToFadeInAndOut {
  -webkit-animation: fadeinout 4s linear infinite;
  animation: fadeinout 4s linear infinite;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.btn:hover {
  background-color: rgb(255, 174, 0);
  color: rgb(255, 255, 255) !important;
}

.btn {
  width: 180px;
}
