@import '/src/app/app.component.scss';
h1, h4 {
    width: 90%;
}

.container {
    margin-top: 120px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 360px;
}

.position-fixture {
    transform:translateX(5%)!important;
}
.my-4 {
    transform:translateX(-5%)!important;
}

.bottom-button {
    width: 180px;
}

.margin-fixture {
    margin: 0 0 200px 0 !important; 
}


@media (max-width: 991px) { 
    .start-button {
        margin-top: 0;
    }
    .display-after-media {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    .button-bottom {
        margin-bottom: 20px;
    }
    .img-responsive {
        min-height: 200px;
    }
}

@media (max-width: 570px) {
    .bottom-button {
        margin-bottom: 30px;
    }
    .img-responsive {
        min-height: 150px;
        max-height: 300px;
    }

}