@import '/src/app/app.component.scss';

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 360px;
}

.button-bottom {
    margin-left: 12px;
    transform: translateY(-237px);
    width: 180px;
}

.margin-fixture {
    margin: 0 0 200px 0 !important; 
}

.btn:hover {
    background-color: rgb(255, 174, 0);
    color: rgb(255, 255, 255) !important;

}

@media (max-width: 991px) { 
    .start-button {
        margin-top: 0;
    }
    .display-after-media {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    .button-bottom {
        transform: translateY(-200px);
    }
    .img-responsive {
        min-height: 200px;
    }
}

@media (max-width: 570px) {
    .button-bottom {
        transform: translateY(-160px);
        margin-left: 12px;
        
        
    }
    .img-responsive {
        min-height: 150px;
        max-height: 300px;
    }

}