@import "/src/app/app.component.scss";


mat-card {
  position: relative;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
}

mat-form-field {
  width: 200px;
}

.welcome {
  line-height: 20px;;
}


.btn:hover {
  background-color: rgb(255, 174, 0);
  color: rgb(255, 255, 255) !important;
}

.container {
  margin-top: 10% !important;
  margin-bottom: 5% !important;
  height: 100%;
  width: 40vh;;
  display: flex;
  height: 68vh;

}

.button-fixture {
  margin: 50px;
}