<div class="container">
    <mat-card>
        
        <div class="form-layout" novalidate> 
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
                <div class="row">
                    
                    <div class="col-12 text-center">
                        <h1 class="text-center welcome-text">Bem Vindo</h1>
                        <mat-form-field class="form-element mt-5 mb-5">
                            <input matInput placeholder="Nome do Usuário" formControlName="username">
                            <mat-error
                                *ngIf="!formGroup.controls['username'].valid && formGroup.controls['username'].touched">
                                {{ getErrorUsername() }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12 text-center">
                        <mat-form-field class="form-element">
                            <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'"
                                formControlName="password" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error
                                *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                                {{ getErrorPassword() }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="text-center">
                        <div class="form-element button-fixture">
                            <button mat-raised-button color="default" type="submit" class="button btn">Confirmar</button>
                            <!-- [disabled]="!formGroup.valid" -->
                        </div>
                    </div>
                    
    
                    <div class="text-center">
                        <mat-label ><a href="">Equeci minha senha</a></mat-label>
                    </div>
                </div>
                
                
            </form>
        </div>
        
    </mat-card>
</div>