
@import '/src/app/app.component.scss';

.image-item-ajustment {

    width: inherit;
    display: inline-table;

    img {
        margin-top: 8%;
        z-index: 1;
    }

    .mock-elements {
        transform: translateY(160px);
    }

    .row {
        position: fixed;

    }

    .text-padding {
        position: fixed;
        padding-left: 25% !important;
        padding-right: 25% !important;
    }
    h1 {
        font-size: 2rem !important;
    }
    p {
        font-size: 1rem;
        width:80%;
    }

    .mobile-content {
        margin-left: 20px;
        margin-top: 80px;
        overflow-wrap: break-word;
        max-width: 300px    ;
    }

    .banner-area {
        height: 50px;
    }
    .mat-grid-tile-content {
        justify-content: initial;
    }

    .mat-raised-button {
        transform: translate(15px, 0px);
    }
}

.customized-footer {
    z-index: 3;
    transform: translate(15px, 87px);
    bottom: 0;
    width: 90%;
    height: 6vh;;
    margin:0; 
    background-image: linear-gradient(to left, #d1d1d1, #d7d7d7, #dddddd, #e4e4e4, #eaeaea, #eaeaea, #eaeaea, #eaeaea, #e4e4e4, #dddddd, #d7d7d7, #d1d1d1) !important;
    border-top: 1px solid rgb(177, 177, 177);
    color: rgb(99, 99, 99);
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
  }
// new style
