@import '/src/app/app.component.scss';

.text-fixture {
    line-height: 10px;
    font-style: italic;
    font-size: 20px;
}

.column-fixture {
    padding: 0;
}

.featured-card {
    margin: -20px;
    transform:translateY(-30px);
    z-index: 1;
    
}

.fix-margin {
    margin-top: 150px;
}

.box-shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.jumbotron {
    height: 100%;
    min-height: 20rem;
}

.start-button {
    padding: 10px !important;
}
@media (max-width:991px) {
    .card {
        width: 100%;
    };
    .column-fixture {
        width: 100%;
        
    };

    .featured-card {
        margin: 0;
        transform:translateY(30px);
        margin-bottom: 60px;
    };

}

