@import '/src/app/app.component.scss';

p {
    font-size: 17px;
    line-height: 1.5rem;
    color: #505050;
}

.margin-fixture {
    margin-top: 50px !important;
    margin-bottom: 150px !important; 
}
.text-fixture {
    line-height: 10px;
    font-style: italic;
    font-size: 20px;
}

.column-fixture {
    padding: 0;
}

.featured-card {
    margin: -20px;
    transform:translateY(-30px);
    z-index: 1;   
}

.card-body {
    background-color: #f8f8f8;
}

.card-body:hover {
    box-shadow: 0 2px 3px 2px rgba(255, 174, 0, 0.2), 0 2px 2px 2px rgba(255, 174, 0, 0.1);
}

.btn {
    background-color: #ffffff !important;
    font-weight: 500;
}
s
.fix-margin {
    margin-top: 150px;
}

mat-card {
    height: 100%;
    min-height: 20rem;
}


@media (max-width:991px) {
    .card {
        width: 100%;
    };
    .column-fixture {
        width: 100%;
        
    };

    .featured-card {
        margin: 0;
        transform:translateY(30px);
        margin-bottom: 60px;
    };

}


@media (max-width: 480px) {
    .col-6 {
      width: 100% !important;
    }
    .column-fixture {
        padding:10px;
    }
  }