@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");

body, html {
  height: auto;
  position: relative;
  background-color: #f8f8f8;
  margin:60px 0 0 0 !important;
}


.page-size {
  width: 100%;
  overflow-x: hidden;
  height: auto !important;

}

.container {
  width: 100%;
  min-height: 100%;
}

.my-4 {
  margin-top: 200px !important;
  margin-bottom: 200px !important;
}

.img-responsive {
  border: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 4px;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  width: 18rem;
}
.button, .btn {
  font-family: "Spartan", sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: whitesmoke;
  border-radius: 6px;
}

.btn:hover {
  color: rgb(255, 174, 0) !important;
}

h1 {
  font-family: "Fredoka One", cursive;
  font-size: 40px;
  color: rgb(99, 99, 99);
  cursor: default;
}

p {
  font-family: "Spartan", sans-serif;
  font-size: 20px;
  cursor: default;
}

h4 {
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.75rem;
  cursor: default;
}

