<footer id="sticky-footer" class="footer flex-shrink-0 py-4 bg-light customized-footer">
    <div *ngIf="hide === false; else paymentVisible">
        <small>Big Hiccups &copy; Soluções</small>
    </div>
    <ng-template #paymentVisible>

        <div class="row">
            <span>Ainda não é nosso Cliente?</span>
        </div>

        <div class="row justify-content-md-center text-center">
            <a mat-raised-button color="default" class="btn btn-lg" type="button" [routerLink]="'./about'"
                (click)="navigateTo();"> <span>Ver Planos</span>  </a>
        </div>

    </ng-template>

</footer>