@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");

.mat-tab-label-content {
    font-size: 1rem;
    font-family: "Spartan", sans-serif;    
}

.mat-ink-bar {   
    background-color: rgb(255, 174, 0) !important; 
    height: 3px !important; 
}

.mat-ripple-element { 
    background-color: rgba(255, 174, 0, 0.247) !important; 
}

.mat-tab-body-wrapper {
    margin-top: 50px !important;
}