<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light mb-3 custom-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="'./landing-page' " routerLinkActive="activebutton"> QR Costumer Tracker </a>
        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>


        <div [ngbCollapse]="isMenuCollapsed" class="collapse justify-content-end navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'./about'" routerLinkActive="activebutton" (click)="isMenuCollapsed = true">Saiba mais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'./us'" routerLinkActive="activebutton" (click)="isMenuCollapsed = true">Sobre nós</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn btn-primary start-button" type="button" [routerLink]="'./login'" routerLinkActive="activebutton" (click)="isMenuCollapsed = true">Começar</button>
                </li>
            </ul>
        </div>
    </div>
</nav>


