<img class="img-responsive" src={{imageUrl}} alt="">
<div class="container">
    <div *ngFor="let jumbotronContent of jumbotronContent; index as i">

        <div class="jumbotron">

            <h1 class="display-4">{{ jumbotronContent.title }}</h1>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <p class="lead">{{ jumbotronContent.description1 }}</p>
                    </div>
                    <div class="col-sm">
                        <p class="lead">{{ jumbotronContent.description2 }}</p>
                    </div>
                    <div class="col-sm">
                        <p class="lead">{{ jumbotronContent.description3 }}</p>
                    </div>
                </div>
            </div>

            

        </div>
        <div class="mt-5" *ngIf="i == size - 1">
            <app-contact-us-form></app-contact-us-form>
        </div>
        <hr class="my-4">
    </div>
</div>