@import '/src/app/app.component.scss';
.container {
    margin-top: 100px;
}

.img-responsive {
    width: 100%;
    height: auto;
    margin-top: 100px;
    border: 1px solid rgb(134, 134, 134);
    border-left: 0;
    border-right: 0;
}
.margin-fixture {
    margin: 150px 0 150px 0;
    
}
