<img class="img-responsive" src={{imageUrl}} alt="">
<div class="container">
    <div *ngFor="let ITEM of US_SENTENCES; index as i">
        <div class="jumbotron">
            <h1 class="display-4">{{ ITEM.TITLE }}</h1>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <p class="lead">{{ ITEM.TEXT1 }}</p>
                    </div>
                    <div class="col-sm">
                        <p class="lead">{{ ITEM.TEXT2 }}</p>
                    </div>
                    <div class="col-sm">
                        <p class="lead">{{ ITEM.TEXT3 }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5" *ngIf="i == size - 1">
            <app-contact-us-form></app-contact-us-form>
        </div>
        <hr class="my-4">
    </div>
</div>