<div class="container mb-5 mt-5">
    <mat-tab-group animationDuration="1000ms" mat-align-tabs="center" class="mb-5">

        <mat-tab label="Início" class>
            <div class="mat-elevation-z4">
                <br>
                Large content
            </div>
        </mat-tab>

        <mat-tab label="Gerador de QR Code">
            <div class="mat-elevation-z4">
                <br>
                Large content
            </div>
        </mat-tab>

        <mat-tab label="Relatórios">
            <div class="mat-elevation-z4">
                <br>
                Large content
            </div>
        </mat-tab>

        <mat-tab label="Gerência">
            <div class="mat-elevation-z4">
                <br>
                Large content
            </div>
        </mat-tab>


    </mat-tab-group>
</div>