<div class="container mb-5 mt-5">
    <mat-tab-group mat-stretch-tabs animationDuration="1000ms" mat-align-tabs="center" class="mb-5">

        <mat-tab label="Início" class>
                <starting-component></starting-component>
        </mat-tab>

        <mat-tab label="Gerador de QR Code">
                Large content
        </mat-tab>

        <mat-tab label="Relatórios">
                Large content
        </mat-tab>

        <mat-tab label="Gerência">
                Large content
        </mat-tab>


    </mat-tab-group>
</div>